<div class="header-area">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="user-menu">
          <ul>
            <li>
              <a href="#"><i class="fa fa-user"></i> My Account</a>
            </li>
            <li>
              <a href="/wishlist"><i class="fa fa-heart"></i> Wishlist</a>
            </li>
            <li>
              <a href="/shoppingcart"><i class="fa fa-user"></i> My Cart</a>
            </li>

            <li *ngIf="!isUserAuthenticated()">
              <a href="/login"><i class="fa fa-user"></i> Login</a>
            </li>
            <li *ngIf="isUserAuthenticated()">
              <a href="/login" (click)="logOut()"
                ><i class="fa fa-user"></i> Logout</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End header area -->

<header>
  <h1 class="logo">
    <img src="assets/images/applogo.png" height="20px" />
  </h1>
  <nav>
    <button><a href="/home" style="color: rgb(255, 255, 255)">Home</a></button>

    <button>
      <a routerLink="/products" style="color: rgb(255, 255, 255)">Products</a>
    </button>

    <button>Contact</button>
  </nav>
  <div class="shopping-item">
    <a href="/shoppingcart"
      >Cart
      <i class="fa fa-shopping-cart"></i>
      <span class="product-count">{{ quantity }}</span></a
    >
  </div>
</header>
<div>
  <svg
    class="waves"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28"
    preserveAspectRatio="none"
    shape-rendering="auto"
  >
    <defs>
      <path
        id="gentle-wave"
        d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
      />
    </defs>
    <g class="parallax">
      <use
        xlink:href="#gentle-wave"
        x="48"
        y="0"
        fill="rgba(251, 99, 126,0.5"
      />
      <use xlink:href="#gentle-wave" x="48" y="3" fill="#877bd3" />
      <use xlink:href="#gentle-wave" x="48" y="5" fill="#5e549b" />
      <use xlink:href="#gentle-wave" x="48" y="7" fill="#fb637e" />
    </g>
  </svg>
</div>
<!-- <app-carousel></app-carousel> -->
<router-outlet></router-outlet>
