<p>Product works</p>
<div class="products">
  <div class="product" *ngFor="let prd of productList;">
	
		<div class="card">
			  
			<a><img src={{prd.imagepath}} class="card-img-top"></a>
			<div class="card-body">
			  <h5 class="card-title">{{prd.productname}}</h5>
			  <p class="card-text">{{prd.productrating}}</p>
			  <p class="card-text">{{prd.price|currency:'INR'}}</p>
			  <p class="card-text">{{prd.productofferprice|currency:'INR'}}</p>
			  <a href="#" type="button" class="btn btn-primary" (click)="submit(prd.productid)" >Add to cart</a>
			  <br>
			  <br>
			  <a href="#" type="button" class="btn btn-primary" (click)="submittowishlist(prd.productid)" >Add to wishlist</a>
			</div>
		  </div>
  </div>
</div>


