<div class="container" style="padding-top: 6rem; margin-bottom: 60px; " *ngIf="cart">
  <div class="card shopping-cart">
    <div class="card-header text-light" style="background-color: rgb(90, 136, 202);">
      <i class="fa fa-shopping-cart pr-2" aria-hidden="true"></i>
      Shopping cart
      <div class="clearfix"></div>
    </div>
    <div class="card-body">
      <app-shopping-cart-item
        *ngFor="let cartItem of cart"
        [product]="cartItem"
      ></app-shopping-cart-item>
      <h2 class="display-4 text-center" *ngIf="cart.length === 0">
        There is no Item in the Cart
      </h2>
    </div>
    <div class="card-footer" style=" background-color:  rgb(90, 136, 202,0.4);">
      <div class="pull-right" style="margin: 10px">
        <div class="pull-right" style="margin: 5px">
          <h5>Total price: {{ totalPrice }} INR</h5>
        </div>
        <br />
        <div class="pull-right" style="margin: 5px">
          <input
            class="btn btn-info"
            style="background-color: rgb(251, 99, 126);"
            type="submit"
            (click)="checkOut()"
            value="Checkout"
          />
        </div>
      </div>
    </div>
  </div>
</div>
