<div class="container">
  <form control="" id="contact" class="form-group">
    <h3>Welcome {{ userData.username }}</h3>
    <h6 style="font-size: 12px">You can update your profile here</h6>
    <br />

    <fieldset>
      <label>Username</label><br />
      <input
        placeholder="User Name"
        name="User Name"
        type="text"
        class="form__input"
        [(ngModel)]="userData.username"
      />
    </fieldset>

    <fieldset>
      <label>Address</label>
      <input
        name="Address"
        placeholder="Address"
        type="text"
        class="form__input"
        [(ngModel)]="userData.address"
      />
    </fieldset>
    <fieldset>
      <label>Email ID</label>
      <input
        name="emailid"
        placeholder="EmailId"
        type="text"
        class="form__input"
        [(ngModel)]="userData.emailid"
      />
    </fieldset>

    <fieldset>
      <input
        type="submit"
        value="Update"
        class="btn btn-primary"
        (click)="update()"
      />
    </fieldset>
  </form>
</div>
