<app-admin-header></app-admin-header>
<table>
  <thead>
    <tr>
      <th>Sr No.</th>
      <th>User Name</th>
      <th>Product Image</th>
      <th>Product Name</th>
      <th>Total Price</th>
      <th>Order Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ord of orderList; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ ord.username }}</td>
      <td><img src="{{ ord.imagepath }} " height="70px" width="40%" /></td>
      <td>{{ ord.productName }}</td>
      <td>{{ ord.totalPrice }}</td>
      <td>{{ ord.orderDate }}</td>
    </tr>
  </tbody>
</table>
