<table>
    <thead>
      <tr>
        <th>User Id</th>
        <th>Product Image</th>
        <th>Product Name</th>
        <th>Total Price</th>
        <th>Order Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ord of orderList">
        <td>{{ ord.UserId }}</td>
        <td><img src="{{ ord.Imagepath }} "  height="20%" width="20%"/></td>
        <td>{{ ord.ProductName }}</td>
        <td>{{ ord.TotalPrice }}</td>
        <td>{{ ord.OrderDate }}</td>
      </tr>
    </tbody>
  </table>