
<div class="header-area">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="user-menu">
          
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End header area -->

<header>
  <h1 class="logo">
    <img src="assets/images/applogo.png" height="20px" />
  </h1>

    <button class="btn" style="float: right;">
      <a routerLink="/add-product" style="color: rgb(255, 255, 255)">Add Product</a>
    </button>
    <button class="btn">
      <a routerLink="/products" style="color: rgb(255, 255, 255)">Order History</a>
    </button>
</header>
<div>
  <svg
    class="waves"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28"
    preserveAspectRatio="none"
    shape-rendering="auto"
  >
    <defs>
      <path
        id="gentle-wave"
        d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
      />
    </defs>
    <g class="parallax">
      <use
        xlink:href="#gentle-wave"
        x="48"
        y="0"
        fill="rgba(251, 99, 126,0.5"
      />
      <use xlink:href="#gentle-wave" x="48" y="3" fill="#877bd3" />
      <use xlink:href="#gentle-wave" x="48" y="5" fill="#5e549b" />
      <use xlink:href="#gentle-wave" x="48" y="7" fill="#fb637e" />
    </g>
  </svg>
</div>
<!-- <app-carousel></app-carousel> -->
<router-outlet></router-outlet>
