
<div class="row">
<div class='product--green'>
  <div class='product_inner'>
    <img src="{{Product.imagepath}}" width='300'>
    <h2>{{Product.productname}}</h2>
    <ul>
      <li>{{Product.display}}</li>
      <li>{{Product.memory}}</li>
      <li>{{Product.processor}}</li>
      <li>{{Product.camera}}</li>
      <li>{{Product.battery}}</li>
      <li>{{Product.security}}</li>
    </ul>
    <button class="addtocart">Add to cart</button>
  </div>
  <div class='product_overlay'>
    <h2>Added to basket</h2>
    <i class='fa fa-check'></i>
  </div>
</div>
</div>

